@import 'mixins/text';

.flex {
  &Row {
    &Content {
      &--mz-not-found-page {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 0;

        @media (max-width: $m) {
          padding: 30px 1rem;
        }
      }
    }
  }
}
