%arrow {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: $white !important;
  color: $color-1-500;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

  &.sliderLeftArrow,
  &.arrowLeft {
    background-image: url('assets/svg/nav-caret--left.svg') !important;
  }

  &.sliderRightArrow,
  &.arrowRight {
    background-image: url('assets/svg/nav-caret--right.svg') !important;
  }

  .caretIcon {
    display: none !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

%arrow-product {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  transition: all ease-in 0.2s;
  opacity: 0.7;
  background-color: $white;
  color: $color-2-100;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }
}
