%subtitle-section {
  font-family: $main-font;
  font-size: $font-size-sm;
  font-weight: $normal;
  line-height: 1.71;
  color: $color-5-500;
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
}
