.skuSelectorItem {
  &--18 {
    order: 1;
  }

  &--19 {
    order: 2;
  }

  &--20 {
    order: 3;
  }

  &--21 {
    order: 4;
  }

  &--22 {
    order: 5;
  }

  &--23 {
    order: 6;
  }

  &--24 {
    order: 7;
  }

  &--25 {
    order: 8;
  }

  &--26 {
    order: 9;
  }

  &--27 {
    order: 10;
  }

  &--28 {
    order: 11;
  }

  &--29 {
    order: 12;
  }

  &--30 {
    order: 13;
  }

  &--31 {
    order: 14;
  }

  &--32 {
    order: 15;
  }

  &--33 {
    order: 16;
  }

  &--34 {
    order: 17;
  }

  &--35 {
    order: 18;
  }

  &--36 {
    order: 19;
  }

  &--37 {
    order: 20;
  }

  &--38 {
    order: 21;
  }

  &--39 {
    order: 22;
  }

  &--40 {
    order: 23;
  }

  &--41 {
    order: 24;
  }

  &--42 {
    order: 25;
  }

  &--43 {
    order: 26;
  }

  &--44 {
    order: 27;
  }

  &--45 {
    order: 28;
  }

  &--46 {
    order: 29;
  }

  &--47 {
    order: 30;
  }

  &--48 {
    order: 31;
  }

  &--49 {
    order: 32;
  }

  &--50 {
    order: 33;
  }

  &--pp {
    order: 1;
  }

  &--p {
    order: 2;
  }

  &--m {
    order: 3;
  }

  &--g {
    order: 4;
  }

  &--gg {
    order: 5;
  }
}
