// Gerador de Fonts(tamanho) - http://codepen.io/carlosvs/pen/FoGnj

// Tamanho padrão das fontes
$font-size-base: 14px; // Tamanho base, o que vai no "body"
$font-title-base: 42px; // Tamanho base para titulos

// Espessuara das fontes
$lighter: 300;
$regular: 400;
$normal: 500;
$semi-bold: 600;
$bold: 600;
$extra-bold: 800;

// Fontes para blocos de textos
$font-size-xxs: ceil($font-size-base * 0.7); // 10
$font-size-xs: ceil($font-size-base * 0.85); // 12
$font-size-sm: $font-size-base; // 14
$font-size-md: floor($font-size-base * 1.15); // 16
$font-size-lg: floor($font-size-base * 1.3); // 18
$font-size-xlg: floor($font-size-base * 1.45); // 20

// Fontes para titulos
$font-size-h1: $font-title-base; // 42
$font-size-h2: ceil($font-size-h1 * 0.87); // 37
$font-size-h3: ceil($font-size-h1 * 0.74); // 32
$font-size-h4: ceil($font-size-h1 * 0.61); // 26
$font-size-h5: ceil($font-size-h1 * 0.48); // 21
$font-size-h6: ceil($font-size-h1 * 0.35); // 15

// Font de icones
$font-size-ico-1: 45px;
$font-size-ico-2: 47px;
$font-size-ico-3: 56px;

// Personalizadas
$font-c-1: 40px;
$font-24: 24px;
