@mixin link(
  $fs: $font-size-xs,
  $fc: $white,
  $fw: $normal,
  $fd: underline,
  $ff: $main-font
) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  color: $fc;
  text-decoration: $fd;

}
