.drawer {
  @media (max-width: $l) {
    width: 100% !important;
  }

  .closeIconButton {
    position: absolute;
    right: 0;

    .closeIcon {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 42px;
      height: 42px;
      background-image: url('assets/svg/delete-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px;
    }
  }

  .minicart {
    &Title {
      letter-spacing: 1px;
      font-weight: $regular;
      font-size: 0;
      color: $text-color-1-500;
      text-align: start;
      text-transform: lowercase;
      padding: 0.95rem 0.95rem 1.25rem;
      border-bottom: 1px solid $color-5-600;
      &::before {
        display: block;
        content: 'Sacola';
        font-size: 24px;
      }
    }
  }
}
