.product {
  &List {
    &UnavailableItemsMessage,
    &AvailableItemsMessage {
      letter-spacing: 1px;
      font-weight: $bold;
      font-size: $font-size-md;
      color: $text-color-1-400;
      padding: 16px;
    }
  }

  &Image {
    border-radius: 0;
    padding: 5px 0;
  }

  &Name {
    &--mz-cart {
      letter-spacing: 1px;
      font-size: $font-size-md;
      font-weight: $regular;
      color: $text-color-1-500;
      text-transform: lowercase;
    }
  }

  &Price {
    color: $text-color-1-500;
    text-transform: lowercase;

    &Currency {
      &--mz-cart {
        display: none;
      }
    }

    &Container {
      &--mz-cart {
        .price {
          letter-spacing: 1px;
          font-weight: $regular;
          font-size: $font-size-sm;
          color: $text-color-1-500;
          text-transform: uppercase;
        }
      }
    }
  }

  &Variations {
    &Container {
      padding: 10px 0;
    }
    &Item {
      &--mz-cart {
        text-transform: lowercase;
        font-weight: $regular;
        font-size: $font-size-xs;
        color: $text-color-1;
        margin-bottom: 5px;
      }
    }
  }
}

.removeButton {
  &Container {
    &--mz-cart {
      height: 15px;

      & :first-child {
        &::before {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background-image: url('assets/svg/delete-icon.svg');
          background-repeat: no-repeat;
          background-size: 12px;
          margin-left: auto;
        }
      }
    }
  }

  &--mz-cart {
    padding: 0;

    .deleteIcon {
      display: none;
    }
  }
}

.quantity {
  &Selector {
    &Container {
      &--mz-cart {
        max-width: 90px;
        :global(.vtex-dropdown__container) {
          border: none;
          border-radius: 0;
          margin-top: 10px;
          background-color: $color-5-500;
        }

        :global(.vtex-dropdown__caption) {
          font-style: normal;
          font-weight: $regular;
          font-size: $font-size-sm;
          color: $text-color-1;
          display: flex;
          justify-content: center;
        }

        :global(.vtex-dropdown__arrow) {
          color: $color-2-500 !important;
        }
      }
    }
  }

  &DropdownContainer {
    color: $color-c-4;
    :global(.vtex-dropdown__container) {
      // :global(.t-body) {
      //   font-size: $font-size-xs;
      //   color: #111;
      //   font-weight: 300;
      //   text-shadow: 0 0 #000;
      // }
    }
  }
}
